{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block top %}
{% load static %}
{% load humanize %}
{% load staticfiles %}
{% endblock %}
{% load templatetag %}
{% block main %}
	<div class="container loginform">
		<div class="row">
			<div class="content col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
				<form class="login" method="POST" action="{% url 'account_login' %}">
			      {% csrf_token %}
			      {{ form.media }}
			      {{ form.as_p }}
			      {% if redirect_field_value %}
			      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			      {% endif %}
			      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			      <div class="contentbutton">
			      	<button class="btn btn-success btn-md btn-block" type="submit">{% trans "Sign In" %}</button>
			      </div>
			    </form>
			</div>
		</div>
	</div>
{% endblock %}