{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block top %}
{% load static %}
{% load humanize %}
{% load staticfiles %}
{% endblock %}
{% load templatetag %}
{% block main %}
	<div class="container formsignup">
		<div class="row">
			<div class="content col-md-6 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-2 col-xs-offset-0">
				<h1>{% trans "Sign Up" %}</h1>

				<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
				  {% csrf_token %}
				  {{ form.as_p }}
				  {% if redirect_field_value %}
				  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				  {% endif %}
				  <div class="signupbutton">
				  	<button class="btn btn-success btn-md btn-block" type="submit">{% trans "Sign Up" %}</button>
				  </div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}