body{
    /*cursor: url(http://cur.cursors-4u.net/others/images6/oth543.gif), auto;*/
}
#header{
	background-image: url(images/bg-hd2.png);
	background-size: contain;
	margin: 0px auto;
	border: 1px solid grey;
	width: 100%;
    z-index: 100;
}
#logo_area{
	margin-bottom: 10px;
}
#header #top_Area{
	height: 100%;
	margin: 0 auto;
}
#header #left_Area{
	float: left;
	width: 330px;
	margin: 0px auto;
}
#header #left_Area h3{
	margin: 0px;
	font-family: initial;
	color: #FFCC00;
	line-height: 33px;
    font: normal 20px 'Cookie', cursive;
	display: inline-block;
}
#right_Area{
	float: right;
	width: calc(100% - 330px);
	margin: 0px auto;
	text-align: right;
	margin-top: 4px;
}
#right_Area #follow_Us{
	color: #FFCC00;
	margin-top:  10px;
	padding-right: 10px;
    font: normal 13px 'Cookie', cursive;
}
#right_Area .social{
	list-style-type: none;
	display: inline-block;
	padding: 0px;
}
#right_Area .social li{
	display: inline-block;
	padding-right: 10px;
}
#right_Area .social li:last-child{
	padding-right: 0;
}
#logo_area #wrap_logo{
	margin: 0px auto;
	height: 100%;
}
#logo_area .container #wrap_logo #left_logo{
	margin: auto;
	text-align: center;
	float: left;
	padding: 0;
	width: 330px;
	height: 100%;
}
#logo_area .container #wrap_logo #right_logo{
	float: right;
	height: 100%;
	margin: auto;
	width: calc(100% - 330px);
}
#logo_area .container #wrap_logo #right_logo .row{
	    text-align: right;
}
.btn{
	background-color: white;
}
#right_logo .row .login_join_us {
	list-style-type: none;
	display: inline-block;
	margin: auto;
	padding: 5px;
}
#right_logo .row ul{
	text-align: right;
}
.login_join_us  li {
	display: inline-block;
	padding-right: 5px;
	padding-top: 5px;
	color: #337ab7;
	font-size: medium;
    font-family: 
}
.login_join_us .between{
	color: #337ab7;
	font-size: medium;
    font-family: cursive;
}
.login_join_us .leaf{
	font-size: medium;
    font-family: cursive;
}
.login_join_us .last_leaf{
	font-size: medium;
    font-family: cursive;
}
.login_join_us .seach_tab{
	padding-left:  20px;
}

.form-group input[type="text"]{
	display: inline-block;
    width: 100%;
    max-width: 300px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.banner #logo{
	width: 250px;
}

.banner .rigth_banner{
    width: calc(100% - 254px);
    display: inline-block;
    text-align: right;
}

.banner .rigth_banner .join_login{
	list-style: none;
    display: inline-block;
    padding: 0;
}

.banner .rigth_banner .join_login li{
	display: inline-block;
	padding: 10px;
}
.banner .rigth_banner .join_login li:first-child{
    border-right: solid thin #E2E2E2;
}
.banner .rigth_banner .join_login li a{
	color: #0480C8;
	text-decoration: none;
}

.banner .rigth_banner .join_login li:hover a{
	color: #003056;
}
.banner .rigth_banner .search{
	display: inline-block;
    margin: 0;
    position: relative;
}
.banner .rigth_banner .search input{
	padding-right: 20px;
	padding-left: 20px;
}
.banner .rigth_banner .search span{
	position: absolute;
    right: 4px;
    top: 10px;
    cursor: pointer;
}

.listmenu .navbar ul li a, .listmenu .navbar ul li a span{
	color: #fff;
}
.listmenu .navbar ul li a:hover, .listmenu .navbar ul li a span:hover{
	color: #fff;
}
.listmenu .navbar{
    background: #2E6DA4;
    border: none;
}

.listmenu .navbar-inverse .navbar-toggle .icon-bar{
	background-color: #000;
}
.listmenu .navbar-inverse .navbar-toggle:hover{
	background-color: transparent;
}

.listmenu .navbar-inverse .collapse ul li .dropdown-menu{
	background: #B0C500;
}
.listmenu .navbar-inverse .container-fluid .navbar-header .navbar-brand span{
    color: #B0C500;
}

.listmenu .navbar-inverse .collapse .navbar-nav{
	width: calc(100% - 19px);
}

.listmenu .navbar-inverse .container-fluid .collapse.in ul li:hover{
	background: #B5AEAE;
}

a:hover{
	text-decoration: none;
}

#right_logo .login_join_us .seach_tab{
	position: relative;
}

#right_logo .login_join_us .seach_tab .btn{
    position: absolute;
    top: 6px;
    right: 0;
    background: transparent;
}

#right_logo .login_join_us .seach_tab .search-query{
    padding: 6px 22px;
}


.footer-distributed{
    background-color: #1f4b71;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

.loginform form.login{
	width: 420px;
	display: inline-block;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.errorlist li{
	color: red;
}
.loginform .content{
	text-align: center;
}
.loginform form.login input[type="text"], .loginform form.login input[type="password"]{
    width: calc(100% - 78px);
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.loginform form.login p:first-child label, .loginform form.login p:nth-child(2) label{
	width: 73px;
}
.loginform form.login .contentbutton{
	text-align: center;
}
.loginform form.login .contentbutton button{
    width: 210px;
    display: inline-block;
}

.formsignup .content{
	text-align: center;
}

.formsignup .content #signup_form{
    width: 420px;
    display: inline-block;
    text-align: left;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.formsignup .content #signup_form input{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.formsignup .content #signup_form .signupbutton{
	text-align: center;
}

.formsignup .content #signup_form .signupbutton button{
	width: 210px;
    display: inline-block;
}

.logoutform .content{
	text-align: center;
	background: #f5f5f5;
	padding: 20px;
    border-radius: 10px;
}

.resetpwform form input[type="email"]{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.resetpwform .content{
	text-align: center;
}

.resetpwform .content form{
	text-align: left;
}

.resetpwform .content form .contetnsubmit{
	text-align: center;
}

.resetpwform .content form .contetnsubmit input{
	width: 210px;
    display: inline-block;
}
/********/
.changepwform .content{
	text-align: center;
}

.changepwform .content form{
    width: 420px;
    display: inline-block;
    text-align: left;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

.changepwform .content form input[type="password"]{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.changepwform .content form .contentbutton{
	text-align: center;
}

.changepwform .content form .contentbutton input{
	width: 210px;
    display: inline-block;
}

#myprofile{
	text-align: center;
}

#myprofile form{
	width: 450px;
    text-align: left;
    display: inline-block;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

#myprofile form input{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#myprofile form .button{
	text-align: center;
}

#myprofile form .button button{
	width: 210px;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 100;
    right: 0;
    text-align: left;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.icon_user{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icon_user:hover{
    cursor: pointer;
}

.ngang{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #a8cce8;
}