{% extends "base.html" %}
{% block top %}
{% load static %}
{% load humanize %}
{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/style_detail.css' %}">
	<script type="text/javascript" src="{% static 'js/docs.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jssor.slider.mini.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/tam.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/thongbao.js' %}"></script>
{% endblock %}
{% load templatetag %}
{% block main %}
	<div class="container" id="tourDetail">
    <hr class="featurette-divider">
    <div class="title"><a href="#">{{detail.tour.name}}</a></div>  
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-8" id="chiTiet">
            <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 600px; overflow: hidden;">
                <!-- Loading Screen -->
                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

                    background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                    </div>
                    <div style="position: absolute; display: block; background: url(../img/loading.gif) no-repeat center center;

                    top: 0px; left: 0px;width: 100%;height:100%;">
                    </div>
                </div>
                <!-- Slides Container -->
                <div u="slides" style="position: absolute; left: 0px; top: 0px; width: 1140px; height: 600px;
                overflow: hidden;">
                    <div>
                        <img u="image" src="/media/{{detail.photo1}}" />
                    </div>
                    <div>
                        <img u="image" src="/media/{{detail.photo2}}" />
                    </div>
                    <div>
                        <img u="image" src="/media/{{detail.photo3}}" />
                    </div>
                    <div>
                        <img u="image" src="/media/{{detail.photo4}}" />
                    </div>
                </div>
                <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                    <!-- bullet navigator item prototype -->
                    <div u="prototype"></div>
                </div>
                <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
                </span>
                <!-- Arrow Right -->
                <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;">
                </span>
            </div>
            <div class="clear"></div>
            <div class="price1">
                <div class="gia">Giá: {{detail.tour.cost|intcomma}}đ</div>
                 <div class="dat">
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Đặt Tour</button> -->
                  <a type="button" href="/booking/{{detail.tour_id}}" class="btn btn-info btn-lg">Đặt Tour</a>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Đặt Tour</h3>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row"><h4> {{detail.tour.name}} </h4></div>
                            <div class="row">
                                    <p>Mã Tour:NDSGN360-049-181116VJ</p>
                                    <p>Thời gian: 3 Ngày</p>
                                    <p>Giá: 3.990.000₫</p>
                                    <p>Ngày khởi hành: 18/11/2016</p>
                                    <p>Nơi khởi hành: Hồ Chí Minh</p>
                                    <hr>
                            </div>
                            <div class="row"> <h4>Giá tour cơ bản</h4></div>
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table .table-condensed" >
                                        <tr class="header">
                                            <td class="left"><strong>Loại khách</strong></td>
                                            <td class="center"><strong>Việt Nam</strong></td>
                                            <td class="center"><strong>Việt kiều</strong></td>
                                            <td class="center"><strong>Nước ngoài</strong></td>
                                        </tr>
                                        <tr>
                                            <td>Người lớn (Từ 12 tuổi trở lên)</td>
                                            <td class="price center">3.990.000<span>₫</span></td>
                                            <td class="price center">3.990.000<span>₫</span></td>
                                            <td class="price center">3.990.000<span>₫</span></td>
                                        </tr>
                                        <tr>
                                            <td>Trẻ em (Từ 11 tuổi đến dưới 12 tuổi)</td>
                                            <td class="price center">3.990.000<span>₫</span></td>
                                            <td class="price center">3.990.000<span>₫</span></td>
                                            <td class="price center">3.990.000<span>₫</span></td>

                                        </tr>
                                        <tr>
                                            <td>Trẻ nhỏ (Từ 5 tuổi đến dưới 11 tuổi)</td>
                                            <td class="price center">3.245.000<span>₫</span></td>
                                            <td class="price center">3.245.000<span>₫</span></td>
                                            <td class="price center">3.245.000<span>₫</span></td>
                                        </tr>
                                        <tr>
                                            <td>Em bé (Dưới 5 tuổi)</td>
                                            <td class="price center">2.500.000<span>₫</span></td>
                                            <td class="price center">2.500.000<span>₫</span></td>
                                            <td class="price center">2.500.000<span>₫</span></td>
                                        </tr>
                                    </table>
                                    <hr>
                                </div>
                            </div>
                            <div class="row"><h4>Thông tin liên hệ</h4></div>
                            <div class="row">
                                <form>
                                    <div class="form-group">
                                        <label for="hoten" class="col-md-2 control-label">Họ Tên(*)</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Họ Tên">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Email" class="col-md-2 control-label">Email</label>
                                        <div class="col-md-10">
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="diachi" class="col-md-2 control-label">Địa Chỉ(*)</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" placeholder="Địa Chỉ">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sdt" class="col-md-2 control-label">Ngày Sinh</label>
                                        <div class="col-md-10">
                                            <input type="date" class="form-control" placeholder="Ngày Sinh">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sdt" class="col-md-2 control-label">Số Điện Thoại</label>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" placeholder="Số Điện Thoại">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sdt" class="col-md-2 control-label">Ghi Chú</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" rows="3">Ghi Chú</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-primary">Tổng Cộng</button>
                                        </div>
                                        <div class="col-md-10">
                                            <input type="number" class="form-control" placeholder="Tổng Cộng">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <hr>
                            <div class="thanhtoan">

                            <div class="row"><button type="button" class="btn btn-primary">Thanh Toán</button></div>
                            <div class="row">
                                <p>Quý Khách chuyển tiền vào các tài Khoản sau:</p>
                                <p>-Đông á Bank: Chủ tài khoản Phạm Đình Phong, STK:20194019490</p>
                                <p>-AriBank: Chủ tài khoản Phạm Phong, STK:22394019490</p>
                                <p>Hoặc quý khách có thể đến tận nơi thanh toán, và nhận vé trực tiếp.</p>
                            </div>
                            </div>    
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
                     
                 </div>

           </div>           
        </div>     
        <div class="col-md-4">
            <div class="block ProgramBrief">
                <div class="listbox">
                    <div class=" titleListbox">TÓM TẮT CHƯƠNG TRÌNH TOUR</div>
                    <div class="bodyListbox">
                        <div class="col-md-12">
                        	{{detail.programmer | safe}}
                        </div>
                    </div>
               	</div>
                <div class="listbox2">
                    <div class=" titleListbox2">ĐỊA ĐIỂM NỔI BẬT</div>
                    <div class="bodyListbox2 col-md-12">
                    	{{detail.local_highlight | safe}}
                	</div>
            	</div>
        	</div>
    	</div>
	</div>
</div>


<div class="container" id="describeTour">
    <hr class="featurette-divider">
    <div class="title"><a href="#">LỊCH TRÌNH CHI TIẾT</a></div>  
    <hr class="featurette-divider">
    <div class="row">
    	<div class="col-md-8 col-sm-12 col-xs-12">
    		{{detail.detail | safe}}
    	</div>
    </div>
</div>
{% endblock %}